/Sharmanka.xcworkspace/xcuserdata/vadympotapov.xcuserdatad/UserInterfaceState.xcuserstate
/Sharmanka.xcodeproj/project.xcworkspace/xcuserdata/vadympotapov.xcuserdatad/UserInterfaceState.xcuserstate
/Sharmanka.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/Sharmanka.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/Sharmanka.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
/Sharmanka.xcodeproj/xcuserdata/vadympotapov.xcuserdatad/xcschemes/xcschememanagement.plist
/Sharmanka.xcworkspace/contents.xcworkspacedata
/Sharmanka.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/Sharmanka.xcworkspace/xcshareddata/swiftpm/Package.resolved
